[submodule "third_party/dotbot"]
	path = third_party/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "third_party/zsh-syntax-highlighting"]
	path = third_party/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "third_party/tpm"]
	path = third_party/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "third_party/fzf-tab"]
	path = third_party/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
